/*Use font-family: Helvetica, sans-serif, with font-size: 20px
• Change the div display property to flex and align the items in center
• Set on the div max-width: 15vw and height 35rem
• The span must have
o Border width - 1px
o Border color - black
o Border style - solid
• To arrange the letters, use the flex property order
*/

body{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container{
    display: flex;
    align-items: center;
    max-width: 15vw;
    height: 35rem;
    flex-direction: column;
    gap: 0.3em;
    flex-wrap: wrap;
}

span{
    border: 1px solid black;
    padding: 0.9em 2em;
}

.container :nth-child(1) {
    order: 9;
  }
  
  .container :nth-child(2) {
    order: 2;
  }
  .container :nth-child(3) {
    order: 10;
  }
  .container :nth-child(4) {
    order: 4;
  }
  .container :nth-child(5) {
    order: 8;
  }
  .container :nth-child(6) {
    order: 7;
  }
  .container :nth-child(7) {
    order: 11;
  }
  .container :nth-child(8) {
    order: 5;
  }
  .container :nth-child(9) {
    order: 6;
  }
  .container :nth-child(10) {
    order: 12;
  }
  .container :nth-child(11) {
    order: 1;
  }
  .container :nth-child(12) {
    order: 3;
  }