@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500&family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    }
    
 *, *:before, *:after{
    box-sizing:inherit;
    }
    
html{
    box-sizing:border-box;
    font: 12px/1.5 Poppins, sans-serif;
    }

    .container{
        padding: 0 4em;
    }
    
    .container header{
        text-align: center;
    }

    .name{
        color: rgba(50, 125, 196, 1);
    }
    
    .container header h2{
        padding: 1em 1em 0em;
    }

    .container header p {
        padding-bottom: 1.5em;
    }

    .card-list{
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: space-between;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 30%;
        border-radius: 15px;
        background-color: rgba(129, 157, 175, 1);
        border: solid 1px rgba(129, 157, 175, 1);
    }
    .card a{
        margin-right: auto;
        text-decoration: none;
        border: solid 1px rgba(50, 60, 196, 1);
        background-color: rgba(50, 125, 196, 1);
        color: white;
        border-radius: 15px;
        padding: 4px 12px;
        box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.5);
    }

    .card img{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .content{
        padding: 1.5em;
    }

    .content h2{
        padding-bottom: 0.5em;
    }

    .content p{
        padding-bottom: 1em;
    }